<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJs Tutorials Document</title>
   
</head>
<body>
    <script>
         
        
        const register= () =>{
        const userName=document.getElementById('name').value;
        const password=document.getElementById('password').value;  
        const sampleMessage="request from frontend"
        const description="testing the app fuctionality"
        const user={userName,password}
         //   e.preventDefault();
            fetch('http://localhost:3000/employee',{
                headers:{
                    'Content-type':'application/json'
                },
                method:'POST',
                body:JSON.stringify({'sampleMessage':sampleMessage,'description':description})
            }).then(response=>response.json()).then(data=>console.log(data)).catch(e=>console(e))
        };
    </script>
    <form>
        <input type="text" id="name" />
        <input type="text" id="password" />
        <input type="button" value="Register" onclick="register()"/>
    </form>

</body>
</html>